@layer design-system, overrides;

@layer overrides {
    body {
        background: var(--utility-neutral-10);
    }

    // this is how we can override the design-tokens for custom theming
    // :root {
    //     --theme-a-4: pink;
    // }
}

.layout,
.content {
    display: grid;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 1250px;
    margin: 0 auto;
}

.content {
    grid-template-columns: 1fr; // Default to one column
    min-height: 500px; // may be able to remove this later?
}

.main-content {
    background: white;
    padding: var(--spacing-m);
}

.content:has(#sidebar) {
    grid-template-columns: 2fr 1fr;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
}
